:root {
  --primary: purple;
}

.scores a {
  float: left;
  text-decoration: none;
  color: purple;
}

.scores a:hover {
  color: plum;
}

.timer {
  float: right;
}

.page-content {
  text-align: center;
  padding-top: 50px;
}

.page-content p {
  text-align: center;
  max-width: 400px;
  padding-left: 430px;
  padding-bottom: 10px;
}

.start-time {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.start-time:hover {
  background-color: plum;
  border-color: plum;
  cursor: pointer;
}

li {
  font-weight: 400px;
  font-size: 16px;
  background-color: purple;
  color: white;
  width: 10%;
  margin-top: 10px;
  margin-left: 43%;
  padding: 5px 15px;
  border-radius: 5px;
}

li:hover {
  background-color: plum;
  cursor: pointer;
}

.divisor {
  border-top: 3px solid lightgray;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 25%;
  color: lightgray;
}

.all-done-l,
.all-done-p {
  font-weight: lighter;
}

.all-done-button {
  background-color: purple;
  margin-left: 10px;
  padding: 20px auto;
  color: white;
  border-radius: 5px;
}

.back-btn,
.clear-btn {
  margin-right: 10px;
  background-color: purple;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.back-btn:hover,
.clear-btn:hover {
  cursor: pointer;
  background-color: plum;
}
